<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="full-hero hero-home">
        <h1>I'm an h1</h1>
        <ul class="social-list social-link">
          {% include social-links.html %}
        </ul>
      </div>
        <h2>I'm an h2</h2>
    <div class="bio-wrapper">
        <div class="bio-box">
          <img src="images/minna.png" alt="minna no nohongo site" />
          <h3>Everyone's Japanese</h3>
          <a href="http://www.nihongo.aikidoka.ru/" class="site-links" target="_blank">Mn</a>
          <div class="bio-copy">
              <p>
                  This stunning site will help you start learning <a href="https://en.wikipedia.org/wiki/Japanese_language"><em>Japanese</em></a>. The site is built on the basis of the popular textbook "<a href="http://nihon-go.ru/obzor-uchebnika-minna-no-nihongo/"><em>Minna No Nihongo</em>"</a>, which has won a leading position among other textbooks. The material of the lessons is supplemented with exercises from other textbooks, which will allow you to better understand the grammar of the lesson. All content in Russian.
              </p>
          </div>
        </div>
        <div class="bio-box ">
          <img src="images/KanjiDB.png" alt="Kanji data base"/>
            <h3>KanjiDB</h3>
            <a href="http://kanjidb.ru/?p=main" class="site-links" target="_blank">Kj</a>
            <div class="bio-copy">
                <p>
                  This site will help you find unknown <a href="https://en.wikipedia.org/wiki/Kanji"><em>kanji</em></a> or words. Almost all words have a tonification and an example of pronunciation that will allow you to improve your own pronunciation. Also there is the opportunity to test your knowledge of kanji and help memorize them.
                </p>
            </div>
        </div>
        <div class="bio-box ">
          <img src="images/NHK.png"/>
            <h3>NHK World</h3>
            <a href="https://www3.nhk.or.jp/nhkworld/" class="site-links" target="_blank">NW</a>
            <div class="bio-copy">
                <p>
                NHK World is a multi-lingual site dedicated to <a href="https://en.wikipedia.org/wiki/Japan"><em>Japan</em></a>. The site is the link of Japan and the rest of the world, it provides reliable and timely information about the state of affairs in Japan in various countries of the world, also allows you to get acquainted with the <a href="https://www.japan-guide.com/"><em>culture and lifestyle</em></a> of the Japanese. Also on the site there are lessons of the Japanese language aimed at the development of oral speech.
                </p>
            </div>
        </div>

        <div class="bio-box">
          <img src="images/japan.jpg" alt="flag and Japan" />
            <h3>??</h3>
            <p>
                The Future
            </p>
        </div>
    </div>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    {% include footer.html %}
    </body>
</html>
